/build
# /contracts/keys
/flat
/flat_build
#/contracts/generated                 // Shoud no be commited, but currently required for Github Actions
#/contracts/KeysWithPlonkVerifier.sol // Shoud no be commited, but currently required for Github Actions
/contracts/TokenInit.sol
